<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Spring Banking</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<div th:insert="template_user.html::header"></div>

<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4 text-light" style="background: linear-gradient(180deg, rgba(0,0,30,1), rgba(0,0,30,0)),
                  url('/image/g13.png') right bottom no-repeat;background-size: 100px;">
    <h1 class="display-3">Bienvenido a Spring Banking 2023</h1>
    <p class="lead">El HomeBanking del G13 en Línea</p>
  </header>


</div>
<!-- /.container -->

<!-- Footer -->
<div th:insert="/template_user.html::footer"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
