<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Spring Banking</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<div th:insert="template_user.html::header"></div>


 <!-- Page Content -->
  <div class="container">

    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <div class="card-body">
            <h2>Registro</h2>

          </div>
        </div>
      </div>
    </div>
    <form th:action="@{/save}" method="post">
      <div class="form-group">
        <label for="nameUser">Nombres:</label> <input type="text"
          class="form-control" id="nameUser" name="nameUser" required
          placeholder="Ingrese sus nombres" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="email">Email:</label> <input type="email"
          class="form-control" id="email" name="email" required
          placeholder="Ingrese su email" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="dni">D.N.I Nro.:</label> <input type="text"
          class="form-control" id="dni" name="dni" required
          placeholder="Ingrese su D.N.I" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="birthday">Fecha Cumpleaños:</label> <input type="text"
          class="form-control" id="birthday" name="birthday" required
          placeholder="Ingrese la fecha de su cumpleaños formato(Dia/Mes/Año)" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="address">Domicilio:</label> <input type="text"
          class="form-control" id="address" name="address" required
          placeholder="Ingrese su domicilio completo" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label> <input type="password"
          class="form-control" id="password" name="password" required placeholder="Ingrese su contraseña" autocomplete="off">
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-success">Guardar</button>
      </div>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  <!-- /.container -->

  <!-- Footer -->
  <div th:insert="template_user.html::footer"></div>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
