<!-- Navigation -->
<div th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" th:href="@{/}"><img src="/image/g13.png" width="30" height="30"  alt="Logo del Grupo">Spring Banking</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item"><a class="nav-link" th:href="@{/create}">Crear usuario</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/busca}">Ver Usuarios</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/list}">Listar usuario</a></li>
          </ul>
        </div><!-- navbarResponsive -->

      </div><!-- container -->
    </nav><!-- Nav -->
  </div><!-- fragment -->

